# Ejecutables
*.exe
*.out
*.test

# macOS
.DS_Store

# Node (frontend)
node_modules/
dist/
pnpm-lock.yaml
.env
.vscode/
*.log

# Go (backend)
bin/
vendor/
*.tmp
*.log
.env

# IDEs
.idea/
.vscode/

# Sistema
Thumbs.db

# Air tmp folder 
tmp/